.note_list {
  cursor: pointer;
}
.note_text {
  height: 260px;
  width: 360px;
  border-style: solid;
  border-width: 1px;
}
.note_link {
  text-decoration: underline;
  cursor: pointer;
}
.delete_note_button {
  text-decoration: underline;
  cursor: pointer;
}
